.widget{
    display: flex;
    justify-content: space-between;
    flex: 4;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.75);
    border-radius: 10px;
    height: 100px;
    width: 450px;
    

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: 300;
            font-size: 22px;
            color: rgb(0,0,0);
        }

        .counter{
            font-size: 16px;
            font-weight: 300;
        }

        .link{
            width: max-content;
            font-size: 16px;
            border-bottom: 1px solid gray;
        }

        .percentage{
            font-weight: bold;
            display: flex;
            align-items: center;
            font-size: 16px;

            &.positive{
                color: green; 
            }

            &.negative{
                color: red; 
            }
        }

        .icon{
            font-style: 24px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}