.SearchBox{
    
    z-index: 0;
    
     
    .SearchContainer{
        
        
        .SearchBoxContainer{
            

            padding: 20px;
            gap: 20px;
        }

        .ButtonContainer{
            
            
        }
    }

    .ListSearcher{
        z-index: 0;
    }
}

    